<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    {% load staticfiles %}
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Muhammad Shakeel</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}" />

    <link rel="stylesheet" href="{% static  'css/themify-icons.css'%}" />

    <link rel="stylesheet" href="{% static  'css/style.css'%}" />
  </head>
  <body>
    <!--================ Start Header Area =================-->

    <section class="home_banner_area">
      <div class="banner_inner">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-8">
              <div class="banner_content">
                <img
                  src=" https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Python3-powered_hello-world.svg/650px-Python3-powered_hello-world.svg.png"
                  class="img img-responsive img-rounded"
                  style="width: 350px; height: 200px; border-radius: 5%;"
                />

                <h1 class="text-uppercase">Python</h1>
                <h5 class="text-uppercase">
                  wasn't too hard to learn as a new tool.
                </h5>

                <div class="social-icons my-5"></div>
                <a class="primary_btn" href="https://www.python.org/"
                  ><span>Get Started </span></a
                >
              </div>
            </div>
            <div class="col-lg-4">
              <div class="home_right_img">
                <img
                  class="img-fluid "
                  src="https://cdn.pixabay.com/photo/2014/04/03/11/55/snake-312561_960_720.png"
                  alt="Muhammad Shakeel"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="banner_content">
          <div class="container">
            <div class="row justify-content-lg-start justify-content-center">
              <div class="col-lg-3 col-md-4">
                <div class="statistics_item">
                  <h3><span class="counter">Data Science</span></h3>
                  <p>Python + Anaconda</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4">
                <div class="statistics_item">
                  <h3><span class="counter">Web applications</span></h3>
                  <p>Python + Django</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
